body {
    background-color:antiquewhite;
}

h1 {
    background-color: yellow;
    border-style: solid;
    font-family:  Helvetica, sans-serif;
    border-width: 3px;
    padding-left: 5px;
}

h2 {
    font-family: Helvetica, sans-serif;
    background-color:rgb(250, 246, 127);
    padding-left: 5px;

}

div .introduction {
    text-align: center;
}


div img {
    padding-left: 150px;
    
}
p {
    font-family: Tahoma;
    font-style: italic;
}

li a {
    font-family: 'Lucida Sans', sans-serif;
}

.ingredients-list li {
    font-family: monospace;
}

.steps-list li {
    font-family: Tahoma, sans-serif;
    font-weight: 500;

}

.credits {
    font-size: 11px;
    border-color: black;
    border-top: solid;
}

.nav {
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}